# Python
*.pyc
__pycache__/

# Django
db.sqlite3
media/

# Environment files
.env
*.env
venv/
VENV/


# Pipenv
#Pipfile.lock

# IDE Files
.vscode/
.idea/
process
.log
run_integrity_scan.log
stormglass.log
system_metrics.log
process_dashboard.log
fetch_quote.log

local_index/
local_index/index.faiss
local_index/index.pkl

/staticfiles/
/static_root/