[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
sdk = "*"
poloniex = "*"
django-widget-tweaks = "*"
luno_python = "*"
django-cron = "==0.5.0"

[dev-packages]

[requires]
python_version = "3"
