{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
    {% if form.instance.id %}
        Edit Credit - ID {{ form.instance.id }}
    {% else %}
        Create New Credit
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">
            {% if form.instance.id %}
                Edit  {{ form.instance.name }}
            {% else %}
                Create New Credit
            {% endif %}
        </h1>

        <form method="POST" class="bg-light p-4 border rounded">
            {% csrf_token %}

            {% if user.is_superuser %}
                <div class="mb-3">
                    {{ form.user.label_tag }}
                    {{ form.user|add_class:"form-select" }}
                </div>
            {% endif %}

            <div class="mb-3">
                {{ form.name.label_tag }}
                {{ form.name|add_class:"form-control" |attr:"id:creditInput" }}
            </div>
            <div class="mb-3">
                {{ form.description.label_tag }}
                {{ form.description|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                {{ form.balance.label_tag }}
                {{ form.balance|add_class:"form-control" }}
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary">
                    {% if form.instance.id %}
                        Update Credit
                    {% else %}
                        Create Credit
                    {% endif %}
                </button>
                <a href="{% url 'credit_list' %}" class="btn btn-secondary ms-2">Cancel</a>
            </div>
        </form>
    </div>

    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const creditInput = document.getElementById('creditInput');
            if (creditInput) {
                creditInput.focus();
            }
        });
    </script>

{% endblock %}