{% extends "base.html" %}

{% block content %}
    <h2 class="text-center">🛡️ Pentest Dashboard</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-sm">Start Scan</button>
        <a class=" btn btn-primary btn-sm mx-2" href="/discover/">Discover</a>
    </form>
    <hr>
    <h3>Previous Scans</h3>
    <ul>
        {% for t in targets %}
            <li><a href="{% url 'report' t.id %}">{{ t.domain_or_ip }} - {{ t.submitted_at }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}