<h2>WebSocket Test</h2>
<div id="output"></div>

<script>
    {#const socket = new WebSocket("ws://localhost:8010/ws/ping/");#}
    {#const socket = new WebSocket("ws://192.168.0.100:8010/ws/ping/");#}
    const socket = new WebSocket("ws://" + window.location.host + "/ws/ping/");

    socket.onopen = () => {
        console.log("✅ WebSocket connected");
    };

    socket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        console.log("Received WebSocket message:", data);
        document.getElementById("output").innerText = `Ping: ${JSON.stringify(data)}`;
    };

    socket.onerror = function (error) {
        console.error("❌ WebSocket error:", error);
    };

    socket.onclose = () => {
        console.warn("WebSocket connection closed");
    };
</script>


