{% extends "base.html" %}
{% load humanize %}

{% block title %}
    Worth Items
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="position-relative mb-4 text-center">
            <a href="{% url 'worth_create' %}" class="btn btn-primary position-absolute top-0 start-0">New</a>
            <h1 class="mb-0">Worth Items</h1>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover mt-3">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Real Value</th>
                    <th scope="col">Quick Value</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for worth in worth %}
                    <tr>
                        <td>{{ worth.name }}</td>
                        <td>{{ worth.category }}</td>
                        <td>{{ worth.notes }}</td>
                        <td>{{ worth.real_value|floatformat:4 }}</td>
                        <td>{{ worth.quick_value|floatformat:4 }}</td>
                        <td>{{ worth.created_at|date:"Y-m-d H:i:s" }}</td>
                        <td>
                            <a href="{% url 'worth_update' worth.id %}">Edit</a>
                            <a href="{% url 'worth_delete' worth.id %}">Delete</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="8" class="text-center">No Worth Items available</td>
                    </tr>
                {% endfor %}
                </tbody>
                {#                <tfoot class="table-light fw-bold">#}
                {#                <tr>#}
                {#                    <td colspan="4" class="text-end fw-bold">Totals:</td>#}
                {#                    <td>R {{ total_converted_zar|floatformat:2|intcomma }}</td>#}
                {#                    <td colspan="2"></td>#}
                {#                </tr>#}
                {#                </tfoot>#}
            </table>
        </div>
    </div>
{% endblock %}