{% extends "base.html" %}

{% block title %}Money Dashboard{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mb-0">My Money Dashboard</h1>
        <div class="btn-group">
            <a class="btn btn-outline-primary" href="/expense/">Expenses</a>
            <a class="btn btn-outline-primary" href="/asset/">Crypto</a>
            <a class="btn btn-outline-primary" href="/credit/">Credits</a>
            <a class="btn btn-outline-primary" href="/income/">Income</a>
            <a class="btn btn-outline-primary" href="/worth/">Net</a>
            <a class="btn btn-outline-primary" href="/sellable/">Sellable</a>
            <a class="btn btn-outline-primary" href="/history_record/">Stats</a>

        </div>
    </div>

    
{% endblock %}



