{% load humanize %}

{% block content %}
    <div class="container mt-3">
        <h2 class="mb-3 text-danger text-center">🧮 Audit Logs</h2>

        {% if audits %}
            <div style="max-height: 260px; overflow-y: auto;">
                <table class="table table-striped table-hover table-sm mb-0">
                    <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
                    <tr>
                        <th>Timestamp</th>
                        <th>Model</th>
                        <th>Object</th>
                        <th>Action</th>
                        <th>User</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for audit in audits %}
                        <tr>
                            <td>{{ audit.timestamp|naturaltime }}</td>
                            <td>{{ audit.model_name }}</td>
                            <td>{{ audit.object_id }}</td>
                            <td>{{ audit.action }}</td>
                            <td>{{ audit.user }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="text-muted">No Audit logs found.</p>
        {% endif %}
    </div>
{% endblock %}