{% load humanize %}

{% block content %}
    <div class="container mt-3">
        <h2 class="mb-3 text-danger text-center">❗ Error Logs</h2>

        {% if logs %}
            <div style="max-height: 260px; overflow-y: auto;">
                <table class="table table-striped table-hover table-sm mb-0">
                    <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
                    <tr>
                        <th>Timestamp</th>
                        <th>Module</th>
                        <th>Level</th>
                        <th>Exception</th>
                        <th>Error Message</th>
                        {#                        <th>User</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in logs %}
                        <tr>
                            <td>{{ log.timestamp|naturaltime }}</td>
                            <td>{{ log.module }}</td>
                            <td>{{ log.level }}</td>
                            <td style="max-width: 480px;">
                                <div id="short-exc-{{ log.id }}">
                                    <span class="text-truncate d-inline-block" style="max-width: 450px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                      {{ log.exception }}
                                    </span>
                                    {% if log.exception|length > 80 %}
                                        <a href="#" class="ms-2" onclick="toggleException('{{ log.id }}'); return false;">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    {% endif %}
                                </div>

                                {% if log.exception|length > 80 %}
                                    <div class="d-none" id="full-exc-{{ log.id }}">
                                        <span style="white-space: pre-wrap;">{{ log.exception }}</span>
                                        <a href="#" class="ms-2" onclick="toggleException('{{ log.id }}'); return false;">
                                            <i class="bi bi-eye-slash"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </td>

                            <td style="max-width: 480px;">
                                <div id="short-msg-{{ log.id }}">
                                    <span class="text-truncate d-inline-block" style="max-width: 450px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                        {{ log.message }}
                                    </span>
                                    {% if log.message|length > 80 %}
                                        <a href="#" class="ms-2" onclick="toggleMessage('{{ log.id }}'); return false;">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    {% endif %}
                                </div>

                                {% if log.message|length > 80 %}
                                    <div class="d-none" id="full-msg-{{ log.id }}">
                                        <span style="white-space: pre-wrap;">{{ log.message }}</span>
                                        <a href="#" class="ms-2" onclick="toggleMessage('{{ log.id }}'); return false;">
                                            <i class="bi bi-eye-slash"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </td>
                            {#                            <td>{{ log.user_id }}</td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="text-muted">No error logs found.</p>
        {% endif %}
    </div>


{% endblock %}


