{% extends "base.html" %}
{% load humanize %}

{% block title %}
    Home - MyMoneyStats
{% endblock %}

{% block content %}
    <div class="container p-0">

        <div class="text-center mb-3">
            <h1 class="display-5 mb-4"> Welcome <b class=" text-warning"> {{ user.username }} </b> to MyMoney App</h1>
            {% if user.is_authenticated %}
            {% else %}
                <h5>Please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a>.</h5>
            {% endif %}
        </div>

        {% if quote %}
            <div class="alert alert-info text-center mb-3">
                <blockquote class="blockquote">
                    <p class="mb-0">“{{ quote.text }}”</p>
                    <footer class="blockquote-footer mt-2 text-white">{{ quote.author }}</footer>
                </blockquote>
                <a class="nav-link active text-dark  fw-bold" href="/quote/">All Quotes</a>
            </div>
        {% else %}
            <p class="text-center text-danger">No quote available.</p>
        {% endif %}

        <hr>

        <div class="mt-3" id="weather_widget-container" hx-get="{% url 'weather_widget' %}" hx-trigger="load" hx-swap="innerHTML"></div>
    </div>

    <div style="height: 700px;">
        <iframe allow="fullscreen" frameborder="0" height="100%" width="100%" src="https://console.rhombussystems.com/share/clips/z_6qPis9SNG6M0WafkGmbA/"></iframe>
    </div>


{% endblock %}

