{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
    {{ sellable.name }} Details
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <!-- Flex container for heading and button -->
        <div class="d-flex justify-content-between align-items-center ">
            <h1>{{ sellable.name }}</h1>
            <div class="float-end btn-group ">
                <a href="{% url 'sellable_list' %}" class="btn btn-secondary btn-sm">Back</a>
                <a href="{% url 'sellable_update' sellable.id %}" class="btn btn-sm btn-success float-end ">Edit</a>
                <a href="{% url 'sellable_delete' sellable.id %}" class="btn btn-sm btn-danger float-end">Delete</a>
            </div>
        </div>
    
        <p class="text-muted">{{ sellable.description }}</p>
        <div class="row">
            <div class="col-md-9">
                <p><strong>Asking Price:</strong> R {{ sellable.price|floatformat:2 }}</p>
                <p><strong>Sold Price:</strong> R {{ sellable.sold_price|floatformat:2 }}</p>
            </div>

            <div class="col-md-3">
                <!-- Right side with Created At and Updated At -->
                <p class="float-end"><strong>Created At:</strong> {{ sellable.created_at|date:"Y-m-d H:i" }}</p>
                <p class="float-end"><strong>Updated At:</strong> {{ sellable.updated_at|date:"Y-m-d H:i" }}</p>
            </div>
        </div>
        <hr>
        <!-- Image List -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="imageUpload" name="image" class="d-none" onchange="this.form.submit()">
            <button type="button" class="btn btn-primary btn-sm mb-3" onclick="document.getElementById('imageUpload').click()">Upload Image</button>
        </form>

        <div class="row mb-3">
            {% for image in sellable.images.all %}
                <div class="col-md-4 mb-3 position-relative">
                    <img src="{{ image.image.url }}" alt="{{ image.image.name }}" class="img-fluid img-thumbnail">
                    <form method="POST" action="{% url 'delete_image' image.id %}" class="position-absolute top-0 end-0">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm mx-3 my-1">✕</button>
                    </form>
                </div>
            {% empty %}
                <p>No images</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}