{% load humanize %}

{% block content %}
    <div class="container mt-4">

        {% if page_obj %}
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h2 class="text-danger mb-0">📶 Service Logs</h2>

                <nav aria-label="Pagination">
                    <ul class="pagination d-flex align-items-center mb-0">
                        <li class="page-item disabled me-2">
                            <span class="page-link text-muted border-0">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                            </span>
                        </li>
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                   hx-get="{% url 'service_log_list' %}?page={{ page_obj.previous_page_number }}"
                                   hx-target="#service_log_list-container"
                                   hx-swap="innerHTML"
                                   hx-push-url="true">
                                    Previous
                                </a>
                            </li>
                        {% endif %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   hx-get="{% url 'service_log_list' %}?page={{ page_obj.next_page_number }}"
                                   hx-target="#service_log_list-container"
                                   hx-swap="innerHTML"
                                   hx-push-url="true">
                                    Next
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div style="max-height: 225px; overflow-y: auto;">
                <div id="service_log_list-container" class="table-responsive">
                    <table class="table table-striped table-hover table-sm mb-0">
                        <thead class="table-dark" style="position: sticky; top: 0; z-index: 1;">
                        <tr>
                            <th>Time</th>
                            <th>Name</th>
                            <th>URL</th>
                            <th>Method</th>
                            <th>Code</th>
                            <th style="width: 70px;">Resp MS</th>
                            <th style="width: 70px;">Exec MS</th>
                            <th>Success</th>
                            <th style="width: 300px;">Error</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service_log in page_obj %}
                            <tr>
                                <td>{{ service_log.timestamp|naturaltime }}</td>
                                <td>{{ service_log.name }}</td>
                                <td>
                                    <div class="text-truncate" style="max-width: 240px;" title="{{ service_log.url }}">
                                        {{ service_log.url }}
                                    </div>
                                </td>
                                <td>{{ service_log.method }}</td>
                                <td>{{ service_log.status_code }}</td>
                                <td>{{ service_log.response_time_ms|floatformat:2|intcomma }}</td>
                                <td>{{ service_log.execution_time_ms|floatformat:2|intcomma }}</td>
                                <td>
                                    {% if service_log.response_success %}
                                        <span class="badge bg-success">Yes</span>
                                    {% else %}
                                        <span class="badge bg-danger">No</span>
                                    {% endif %}
                                </td>
                                <td style="width: 300px;">
                                    <div class="text-truncate" style="max-width: 290px;" title="{{ service_log.error_message }}">
                                        {{ service_log.error_message|default:"-" }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <p class="text-muted">No service logs found.</p>
        {% endif %}
    </div>
{% endblock %}