{% extends "base.html" %}
{% load humanize %}

{% block title %}
    To Do
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="mb-0">To Do's</h1>
        </div>

        <div class="mb-3 text-center">
            <a href="{% url 'todo_create' %}" class="btn btn-primary btn-sm mx-1">New</a>
            <a href="{% url 'todo_list' %}?filter=all" class="btn {% if filter == 'all' %}btn-secondary{% else %}btn-outline-secondary{% endif %} btn-sm mx-1">All</a>
            <a href="{% url 'todo_list' %}?filter=incomplete" class="btn {% if filter == 'incomplete' %}btn-danger{% else %}btn-outline-danger{% endif %} btn-sm mx-1">Incomplete</a>
            <a href="{% url 'todo_list' %}?filter=completed" class="btn {% if filter == 'completed' %}btn-success{% else %}btn-outline-success{% endif %} btn-sm mx-1">Completed</a>
        </div>

        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover mt-3">
                <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for todo in to_do %}
                    {% if not todo.completed %}
                        <tr>
                            <td>{{ todo.name }}</td>
                            <td>{{ todo.created_at|date:"Y-m-d H:i:s" }}</td>
                            <td>
                                <button onclick="window.location.href='{% url 'todo_update' todo.id %}'"
                                        class="btn btn-link p-0 me-2 text-primary text-decoration-none"
                                        title="Edit">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                                <button onclick="window.location.href='{% url 'todo_toggle_complete' todo.id %}'"
                                        class="btn btn-link p-0 text-success text-decoration-none me-2"
                                        title="Delete">
                                    <i class="bi bi-check-lg"></i>
                                </button>
                                <button onclick="window.location.href='{% url 'todo_delete' todo.id %}'"
                                        class="btn btn-link p-0 text-danger text-decoration-none me-2"
                                        title="Delete">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                        {% if filter == 'all' and forloop.counter == incomplete_count %}
                            <tr>
                                <td colspan="3" style="height: 40px; opacity: 0"></td>
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr class="table-secondary opacity-75">
                            <td><span class="text-decoration-line-through text-danger">{{ todo.name }}</span></td>
                            <td class="text-decoration-line-through text-danger">{{ todo.created_at|date:"Y-m-d H:i:s" }}</td>
                            <td>
                                <button onclick="window.location.href='{% url 'todo_delete' todo.id %}'"
                                        class="btn btn-link p-0 text-danger text-decoration-none me-2"
                                        title="Delete">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    {% endif %}
                {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">No ToDo available</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}