// custom-theme.scss

// Override Bootstrap variables here
$primary: #ed5e1d;
$secondary: #01507F;
$font-family-base: 'Arial', sans-serif;
$body-bg: #f8f9fa;

// Import Bootstrap styles
//@import 'node_modules/bootstrap/scss/bootstrap';

