{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
    {% if form.instance.id %}
        Edit Idea - ID {{ form.instance.id }}
    {% else %}
        Create New
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">
            {% if form.instance.id %}
                Edit  {{ form.instance.name }}
            {% else %}
                Create New
            {% endif %}
        </h1>
        <form method="POST" enctype="multipart/form-data" class="bg-light p-4 border rounded">
            {% csrf_token %}
            {% if user.is_superuser %}
                <div class="mb-3">
                    {{ form.user.label_tag }}
                    {{ form.user|add_class:"form-select" }}
                </div>
            {% endif %}
            <div class="mb-3">
                {{ form.name.label_tag }}
                {{ form.name|add_class:"form-control"|attr:"id:ideaInput" }}
            </div>
            <div class="mb-3">
                {{ form.description.label_tag }}
                {{ form.description|add_class:"form-control" }}
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'idea_list' %}" class="btn btn-secondary ms-2">Cancel</a>
        </form>
    </div>

    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const ideaInput = document.getElementById('ideaInput');
            if (ideaInput) {
                ideaInput.focus();
            }
        });
    </script>

{% endblock %}