{% extends "base.html" %}
{% load humanize %}

{% block title %}
    Idea
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="position-relative mb-4 text-center">
            <a href="{% url 'idea_create' %}" class="btn btn-primary position-absolute top-0 start-0">New</a>
            <h1 class="mb-0">Ideas</h1>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover mt-3">
                <thead class="table-dark">
                <tr>
                    <th scope="col" style="position: sticky; top: 0; z-index: 100;">Name</th>
                    <th scope="col" style="position: sticky; top: 0; z-index: 100;">User</th>
                    <th scope="col" style="position: sticky; top: 0; z-index: 100;">Description</th>
                    <th scope="col" style="position: sticky; top: 0; z-index: 100;">Action</th>

                </tr>
                </thead>
                <tbody>

                {% for idea in idea %}
                    <tr>
                        <td>{{ idea.name }}</td>
                        <td>{{ idea.user|default:"-" }}</td>
                        <td>{{ idea.description }}</td>
                        <td>
                            <button onclick="window.location.href='{% url 'idea_update' idea.id %}'"
                                    class="btn btn-link p-0 me-2 text-primary text-decoration-none"
                                    title="Edit">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button onclick="window.location.href='{% url 'idea_delete' idea.id %}'"
                                    class="btn btn-link p-0 text-danger text-decoration-none me-2"
                                    title="Delete">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">No ideas</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot class="table-light fw-bold">
                </tfoot>
            </table>
        </div>
    </div>

    <!-- JavaScript for handling right-click -->

{% endblock %}