{% extends "base.html" %}

{% block title %}Delete {{ property.name }}{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-body">
        <h5>Are you sure you want to delete {{ property.name }}?</h5>
        <form method="post">
            {% csrf_token %}
            <a class="btn btn-secondary" href="{% url 'rental_property_detail' property.id %}">Cancel</a>
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    </div>
</div>
{% endblock %}


