{% extends 'base.html' %}
{% block content %}
    <h2>📂 Your Folders</h2>
    <a href="{% url 'folder_create' %}" class="btn btn-primary mb-3">Create New Folder</a>
    <ul class="list-group">
        {% for folder in folders %}
            <li class="list-group-item d-flex justify-content-between">
                <a href="{% url 'folder_detail' folder.pk %}">{{ folder.name }}</a>
                <small>{{ folder.created_at }}</small>
            </li>
        {% endfor %}
    </ul>
{% endblock %}